[submodule "devel/nur-packages"]
	path = devel/nur-packages
	url = git@github.com:willbou1/nur-packages.git
[submodule "devel/dwm"]
	path = devel/dwm
	url = git@github.com:willbou1/dwm.git
[submodule "devel/dmenu"]
	path = devel/dmenu
	url = git@github.com:willbou1/dmenu.git
[submodule "devel/dwmblocks"]
	path = devel/dwmblocks
	url = git@github.com:willbou1/dwmblocks.git
